doctype html
html
  head
    title Resource Management Code Challenge
    link(rel='stylesheet', href='css/main.css')
  body
    .container-fluid
      h1 Piranha View Tours Schedule
      hr
      block content
    script(type='text/javascript', src='js/vendor.js')
    script(type='text/javascript', src='js/bundle.js')
